body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.App {
    background-image: url("../public/loficafe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.FullScreenButton {
    display: flex;
    justify-content: flex-end;
    /* x-axis*/
}

.ThemeAndTimer {
    margin: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

}